.masthead__feature {
  display: flex;
  align-items: center;
  color: var(--color-black);
  font: var(--font-body-20);
  line-height: 34px;

  gap: 8px;
}

.masthead__feature::before {
  width: 24px;
  height: 24px;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M20.781 5.469C20.8508 5.53867 20.9062 5.62143 20.944 5.71255C20.9818 5.80367 21.0013 5.90135 21.0013 6C21.0013 6.09865 20.9818 6.19633 20.944 6.28745C20.9062 6.37857 20.8508 6.46133 20.781 6.531L10.281 17.031C10.2113 17.1008 10.1285 17.1563 10.0374 17.1941C9.9463 17.2319 9.84862 17.2513 9.74997 17.2513C9.65132 17.2513 9.55364 17.2319 9.46252 17.1941C9.3714 17.1563 9.28864 17.1008 9.21897 17.031L3.96897 11.781C3.82814 11.6402 3.74902 11.4405 3.74902 11.25C3.74902 11.059 3.82814 10.8593 3.96897 10.7185C4.10981 10.5777 4.30948 10.4985 4.49902 10.4985C4.68855 10.4985 4.88821 10.5777 5.02904 10.7185L9.74902 15.4375L19.469 5.71745C19.6098 5.57661 19.8095 5.49749 19.999 5.49749C20.1885 5.49749 20.3882 5.57661 20.529 5.71745C20.6699 5.85828 20.749 6.05801 20.749 6.24755C20.749 6.43708 20.6699 6.63675 20.529 6.77758L20.781 5.469Z' fill='%23707D99'/%3E%3C/svg%3E");
}
