.masthead__feature {
  display: flex;
  align-items: center;
  color: var(--color-black);
  font: var(--font-body-20);
  line-height: 34px;

  gap: 8px;
}

.masthead__feature::before {
  width: 24px;
  height: 24px;
  content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCAyNCAyNCI+CiAgPHBhdGggZmlsbD0iIzAwMCIgZD0iTTIwLjc4IDUuNDdhLjc1Ljc1IDAgMCAxIDAgMS4wNmwtMTAuNSAxMC41YS43NS43NSAwIDAgMS0xLjA2IDBsLTUuMjUtNS4yNWEuNzUuNzUgMCAxIDEgMS4wNi0xLjA2bDQuNzIgNC43MiA5Ljk3LTkuOTdhLjc1Ljc1IDAgMCAxIDEuMDYgMFoiLz4KPC9zdmc+");
}
