.masthead__content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.masthead__content .masthead__upload-btn {
  min-width: 100%;
  width: max-content;
}

@media screen and (min-width: 576px) {
  .masthead__content .masthead__upload-btn {
    min-width: auto;
  }
}


@media screen and (min-width: 992px) {
  .masthead__content {
    margin-top: 35px;
  }

  .masthead__content .masthead__upload-btn {
    min-width: auto;
    display: none;
  }
}
