.masthead {
  display: flex;
  margin-top: 24px;

  gap: 24px;
}

@media screen and (min-width: 576px) {
  .masthead {
    margin-top: 40px;
  }
}

@media screen and (min-width: 992px) {
  .masthead {
    margin-top: 85px;
  }
}
