@media screen and (min-width: 1192px) {
  .feature_alt-order {
    grid-template-columns: 1fr 3fr;
  }

  .feature_alt-order > .feature__content {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .feature_alt-order > .feature__image-container {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
}
