.shorts__button {
  min-width: 100%;
  width: max-content;
}

@media screen and (min-width: 576px) {
  .shorts__button {
    min-width: 350px;
  }
}

@media screen and (min-width: 992px) {
  .shorts__button {
    min-width: unset;
  }
}
